{% extends 'layout.html' %}
{% block content %}
    <div class="title h--mt-40">Конкурс уличного искусства<br> в Санкт-Петербурге</div>
    <div class="title h--mt-59 h--mb-40">
        <div class="title__col text--fz18 h--lh-13"><span class="text--fz45 h--lh-13">22.09</span><br>Последний день<br> приёма работ</div><!--
        --><div class="title__col text--fz18 h--lh-13"><span class="text--fz45 h--lh-13">30</span><br>Работ пройдут<br> в финал</div><!--
        --><div class="title__col text--fz18 h--lh-13"><span class="text--fz45 h--lh-13">10</span><br>Работ попадут<br> на машины</div>
    </div>
    <div class="form">
        <div class="text text--fz15 text--black">Уличное искусство уже давно не&nbsp;ограничивается только стенами, а&nbsp;граффити&nbsp;&mdash; далеко не&nbsp;единственная его форма. Чтобы в&nbsp;очередной раз подтвердить это на&nbsp;собственном примере, Музей уличного искусства вместе с &laquo;Яндекс.Такси&raquo; запускает открытый конкурс на&nbsp;создание уникального дизайна для 10&nbsp;автомобилей, которые в&nbsp;течение года будут курсировать по всему Петербургу.</div>
        <br>
        <div class="text text--fz15 text--black">Для участия в&nbsp;конкурсе не&nbsp;обязательно быть признанным уличным художником или граффити-райтером, прислать свой эскиз может любой желающий. Тематика и&nbsp;стилистика также не&nbsp;имеют значения, главные и&nbsp;единственные критерии отбора&nbsp;&mdash; это оригинальность и&nbsp;site-специфичность работы, то&nbsp;есть её непосредственная связь с&nbsp;окружающей средой и&nbsp;контекстом места. Конкурс разделен на&nbsp;два этапа. На&nbsp;первом этапе участники отправляют свои работы, художественный совет, состоящий из&nbsp;команды Музея, искусствоведов, кураторов и&nbsp;художников, отберет 30&nbsp;самых небанальных эскизов и&nbsp;выставит на открытое голосование. В&nbsp;течение двух недель на&nbsp;сайте проекта можно будет отдать голос за&nbsp;работу, достойную украсить одну из&nbsp;машин &laquo;Яндекс.Такси&raquo;.  В завершении конкурса к&nbsp;подведению итогов вновь присоединится художественный совет и&nbsp;выберет 10&nbsp;финалистов. При определении победителей жюри будут учитывать в&nbsp;том числе и&nbsp;результаты зрительского голосования.
            Все эскизы, вышедшие в&nbsp;финал, адаптируют под макеты машин и&nbsp;напечатают на специальной пленке, чтобы изображение на&nbsp;автомобиле продержалось целый год. 10&nbsp;победителей не&nbsp;только прославятся на&nbsp;весь Петербург, ведь машина с&nbsp;их&nbsp;авторским дизайном объедет весь город, но&nbsp;еще и&nbsp;получат подарки от&nbsp;Музея уличного искусства и&nbsp;&laquo;Яндекс.Такси&raquo;.</div>
        <br>
        <div class="text text--fz15 text--black">Чтобы стать участником конкурса, необходимо до&nbsp;N-го числа N-го месяца отправить заявку на&nbsp;электронную почту N. В&nbsp;заявке должно быть название и описание работы, эскиз, а&nbsp;также&nbsp;CV и&nbsp;портфолио автора, если они у&nbsp;него есть.</div>
        <br><br>
        <div class="text text--fz22 text--black">Справка</div><br>
        <div class="text text--fz15 text--black">Музей уличного искусства (оно&nbsp;же &laquo;стрит-арт&raquo;)&nbsp;&mdash; это уникальное культурное
            пространство нового типа, меняющийся музей и&nbsp;публичная <br> площадка/городской парк на&nbsp;действующем Заводе слоистых пластиков на&nbsp;востоке Петербурга.  Работы уличных художников, таких как Паша 183, Тимофей Радя и&nbsp;Escif, здесь создаются прямо на&nbsp;стенах рабочих цехов. Основные принципы проекта&nbsp;&mdash; объединение индустриальной постсоветсткой эстетики, обнаженного нерва реальной жизни и&nbsp;молодого уличного искусства в&nbsp;общественном пространстве.</div><br>
        <div class="text text--fz15 text--black">Яндекс.Такси&nbsp;&mdash; крупнейший в&nbsp;России онлайн-сервис заказа такси.  Представлен в&nbsp;22&nbsp;городах России. В&nbsp;общей сложности к&nbsp;Яндекс. Такси подключено более&nbsp;Х машин из&nbsp;Х таксопарков и&nbsp;диспетчерских. Среднее время подачи составляет 3&ndash;5&nbsp;минут. Оплатить поездку можно наличными или банковской картой, привязав её&nbsp;в&nbsp;приложении. Яндекс. Такси доступно в мобильных приложениях для смартфонов на&nbsp;базе iOS и&nbsp;Android, а&nbsp;также на сайте <a href="#">taxi.yandex.ru.</a></div>
    </div>
{% endblock content %}
