{% load pipeline staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Yandex Taxi</title>
    {% stylesheet 'style' %} {% block head %}{% endblock %}
    <script defer type="text/javascript" src="{% static 'vendor/b4w.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'vendor/jquery.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'vendor/bezier-easing.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/scene.js' %}"></script>
</head>

<body>
    <div class="scene__loader"></div>
    <span class="scene__loader-text"></span>

    <div class="transparent">
        <div class="scene scene--fullscreen">
            <div class="header-logo header-logo--absolute">
                <i class="header-logo__yandex"></i>
                <i class="header-logo__museum"></i>
            </div>

            <div class="scene__art scene__art--1"></div>
            <div class="scene__description">
                Музей уличного искусства и Яндекс.Такси запускают открытый конкурс «Стрит-арт на борту». Участники должны раскрасить автомобиль — превратить его в арт-объект, элемент городской культуры. Работы 10 победителей появятся на машинах Яндекс.Такси и будут курсировать по Петербургу в течение года.
                <br><br> <a href="/rules">Правила конкурса</a>
            </div>

            <div class="scene__plane scene__plane--1 scene__plane--show">
            </div>
            
            <div id="scene__blend"></div>
            <div class="scene__controls">
                <a class="scene__controls-find" href="#">Узнай</a>
                <a class="scene__controls-express" href="#">Твори</a>
            </div>
        </div>
    </div>
</body>

</html>
