{% extends 'layout.html' %}
{% block content %}
<div class="thank">
    <div class="text text--fz32 h--mb-20">Ваша заявка принята</div>
    <div class="text text--fz18 h--mb-20">Если ваша работа пройдёт в следующий тур, мы свяжемся с вами  по электронной почте. </div>
    <a href="/send" class="button">Отправить еще одну работу</a>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
