{% extends 'layout.html' %} {% block content %}
{% load staticfiles %}
<div class="viewport">
    <div class="viewport__dropzone hidden">Перенесите файл с изображением текстуры сюда</div>
    <div class="viewport__blender" id="viewport__blender">
        <div class="scene__loader"></div>
        <div class="scene__loader-text"></div>
    </div>
</div>
<div class="text text--fz13 h--mt-8 viewport__text">Это должен быть файл на основе
    <a href="/static/yataxi_pattern_mockup.psd">нашего шаблона</a> и сохранённый в формате png или jpeg</div>
<div class="form">
    <div class="form__title">Заявка на участие</div>
    <div class="form__description">Примерьте ваш макет на машину, и если всё хорошо, придумайте название, описание и отправьте заявку до 31 октября 2016.</div>
    <form class="form__body" id="upload_layout" action="" method="POST">
        {% csrf_token %}

        <div id="error_texture" class="form__error form__error--bottom form__error--texture">Выберите макет</div>
        <label class="button viewport__button">
            <span>Применить макет на машину</span>
            <input class="viewport__texture-input" type="file" value="">
        </label>

        {% for field in layout_form %}
        <div class="form__group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <div class="form__error" id="error_{{field.name}}">Заполните это поле</div>
            {% ifequal field.id_for_label 'id_comment' %}
                <div class="form__remaining js-remaining text text--fz13 text--gray">Осталось <span class="js-num">280</span> символ<span class="js-ending">ов</span></div>
            {% endifequal %}
        </div>
        {% endfor %}
        <hr>
        <label class="form__group form__group--agree">
            <div class="form__error form__error--bottom" id="error_accept">Вы должны ознакомиться и принять правила участия в конкурсе</div>
            <input type="checkbox" name="accept" class="hidden">
            <span class="form__checkbox-square"></span>
            <i class="form__checkbox-tick"></i>
            <span class="form__checkbox">Я ознакомился и принимаю</span>
        </label>&nbsp;<a href="/rules" class="form__rules">правила участия в конкурсе</a>
        <hr>
        <div class="wrapper--center">
            <a href="#" class="form__submit button js-submit">Отправить заявку</a>
        </div>
    </form>
</div>
{% endblock content %}
{% block js %}
    <script defer type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock js %}