{% load pipeline staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Yandex Taxi</title>
    {% stylesheet 'style' %}
    {% block head %}{% endblock %}
</head>

<body>
    <div class="wrapper wrapper--center">
        <a href="/" class="header-logo">
            <i class="header-logo__yandex"></i>
            <i class="header-logo__museum"></i>
        </a>
        {% block content %}{% endblock %}
        {% block footer %}
        <div class="footer">
            <div class="footer__left">
                <div class="text text--fz13 text--dark-gray">Контактный центр: +7 (495) 739-22-22</div>
                <a href="/rules" class="h--lh-15">Помощь и правовые документы</a>
            </div>
            <div class="footer__right">
                <div class="text text--fz13 text--dark-gray">© 2016 ООО «Яндекс»</div>
            </div>
        </div>
        {% endblock footer %}
    </div>
    <script type="text/javascript" src="{% static 'vendor/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/b4w.min.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>
