.form {
    background: white;
    margin-top: 33px;
    padding: 37px 30px;
    box-sizing: border-box;
    text-align: left;
}
.form__title {
    font-size: 22px;
    color: black;
}
.form__description {
    font-size: 15px;
    line-height: 1.3em;
    margin-top: 18px;
}
.form__remaining {
    margin-top: 12px;
    margin-left: 40%;
}
.form__body {
    margin-top: 57px;
}
.form__group {
    font-size: 0;
    position: relative;
    margin-bottom: 30px;
}
.form__group label {
    display: inline-block;
    font-size: 15px;
    width: 40%;
    vertical-align: top;
    padding-top: 9px;
}
.form__group input, .form__group textarea {
    display: inline-block;
    font-size: 15px;
    width: 60%;
    box-sizing: border-box;
    padding: 5px;
	background-color: rgba(255, 255, 255, 0.95);
	border: solid 1px rgba(0, 0, 0, 0.15);
    outline: 0;
}
.form__group input:focus, .form__group textarea:focus {
    border: solid 1px #ffdd55;
}
.form__group textarea {
    height: 76px;
    resize: none;
}
.form__group .form__checkbox {
    font-size: 13px;
    line-height: 1.5em;
    padding-left: 8px;
}
.form__group.form__group--agree {
    margin-top: 37px;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
}
.form__group .form__checkbox-square {
    float: left;
    width: 17px;
    height: 17px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.95);
}
.form__group.form__group--agree > input:checked + .form__checkbox-square {
    background-color: #ffeba0;
}
.form__group.form__group--agree > input:checked + .form__checkbox-square + .form__checkbox-tick {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.form__group.form__group--agree > input + .form__checkbox-square + .form__checkbox-tick {
    transform: translate3d(0, -10px, 0px);
    opacity: 0;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: -3px;
    left: 3px;
    transition: all .2s;
    background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cpath%20d%3D%22M15.623%201l-9.15%2013.174-4.287-4.6L1%2011.03%206.62%2017%2017%202.27%2015.623%201z%22%2F%3E%3C%2Fsvg%3E);
    pointer-events: none;
}
.form hr {
    display: block;
    border: 0;
    outline: 0;
    width: 100%;
    height: 1px;
    padding-right: 60px;
    margin: 0 -30px;
    background: #d8d8d8;
}
.form__submit {
    display: inline-block;
    margin: 40px auto 10px;
    font-size: 18px;
    outline: none;
    padding: 10px 30px;
}
.form__error {
    top: 0;
    right: 0;
    opacity: 0;
    transition: margin .2s ease-out, opacity .2s ease-out;
    transform: translateX(110%);
    margin: 0 -10px 0 0;
    font-size: 12px;
    background: #fe7e7d;
    color: white;
    padding: 7px 15px;
    position: absolute;
}
.form__error:after {
    content: '';
    position: absolute;
    left: -6px;
    top: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 7px 7.5px 0;
    border-color: transparent #fe7e7d transparent transparent;
}
.form__error.form__error--bottom {
    transform: translate(-50%, -130%);
    margin: -10px 0 0 0;
    left: 10px;
    right: auto;
}
.form__error.form__error--texture {
    left: 50%;
    top: 516px;
}
.form__error--bottom:after {
    left: 50%;
    top: auto;
    bottom: -6px;
    margin-left: -7.5px;
    border-width: 7px 7.5px 0 7.5px;
    border-color: #fe7e7d transparent transparent transparent;
}
.form__error.form__error--show {
    opacity: 1;
    margin: 0;
}
.form__rules {
    font-size: 13px;
    line-height: 1.5em;
}
