.scene {
    width: 100%;
    height: 100%;

    min-width: 1280px;
    min-height: 768px;

    overflow: hidden;
}

.scene--fullscreen { position: absolute; }
.scene__controls {
    position: absolute;
    bottom: 12%;
    text-align: center;
    width: 100%;
    transform: scale(1.2);
}

.scene__controls a {
    font-weight: 500;
    color: white;
}

.scene__controls-find {
    margin-right: 73px;
}

.scene__controls-layout {
    color: black;
    background: url(../img.assets/main_button.png) no-repeat;
    width: 210px;
    height: 58px;
    position: absolute;
    right: 20px;
    line-height: 55px;
    padding-left: 19px;
    box-sizing: border-box;
    top: 80px;
}

.scene__controls-download {
    color: #9ae1ff !important;
    position: absolute;
    left: -10px;
    top: 80px;
}

.scene__controls-download:before {
    content: '';
    background-image: url(../img.assets/controls.png);
    background-position: 0 -56px;
    width: 28px;
    height: 33px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    top: 8px;
}

.scene__controls-find:before {
    content: '';
    background-image: url(../img.assets/controls.png);
    background-position: 0 0;
    width: 30px;
    height: 28px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    top: 8px;
}

.scene__controls-express:after {
    content: '';
    background-image: url(../img.assets/controls.png);
    background-position: 0 0;
    width: 30px;
    height: 28px;
    display: inline-block;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    position: relative;
    margin-left: 10px;
    top: 9px;
}

.scene__controls-express:hover, .scene__controls-find:hover { color: #ffdd55; }
.scene__controls-express:hover:after {
    background-position: 0 -28px;
    top: 11px;
}

.scene__controls-find:hover:before {
    background-position: 0 -28px;
    top: 6px;
}

.scene__art--0 { background: url(../img.assets/uznay.png) no-repeat; }
.scene__art.scene__art--1 {
    background: url(../img.assets/art.png) no-repeat;
    background-size: cover;
    left: 12%;
    top: 15%;
}
.scene__art.scene__art--2 {
    background: url(../img.assets/tvori.png) no-repeat;
    left: 55%;
    top: 34%;
}
.scene__art {
    position: absolute;
    width: 550px;
    height: 230px;
    transition: transform .5s, opacity .5s;
    z-index: 11;
}

.scene__art--progress {
    transform: translate3d(0, -50px, 0);
    opacity: 0;
}


.scene__description {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 398px;
    height: 183px;
    line-height: 1.4em;
    transition: transform .5s ease, opacity .5s ease;
    z-index: 11;
}

.scene__description--progress {
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
}

.scene__plane {
    opacity: 0;
    pointer-events: none;
    transition: transform .2s ease-out, opacity .2s ease-out;
    transform: perspective(900px) rotate3d(180,-45,0,90deg);
}

.scene__plane.scene__plane--show {
    opacity: 1;
    transform: none;
}

.scene__plane.scene__plane--1 {
    background: url(../img.assets/plane1.svg) no-repeat;
    width: 40.6%;
    height: 61%;
    position: absolute;
    background-size: contain;
    z-index: 10;
    left: 9%;
    top: 15%;
}

.scene__plane.scene__plane--1 .scene__description {
    bottom: 45px;
    left: 51px;
}

.scene__plane.scene__plane--2 {
    background: url(../img.assets/plane2.svg) no-repeat;
    width: 39.4%;
    height: 45.8%;
    position: absolute;
    background-size: contain;
    z-index: 10;
    left: 53%;
    top: 28%;
}

.scene__loader {
    display: inline-block;
    width: 72px;
    height: 72px;

    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;

    border: 2px solid transparent;

    border-radius: 100px;
    background-image: url(data:image/gif;base64,R0lGODlhJgCPAPABAP/MAP///yH/C05FVFNDQVBFMi4wAwEAAAAh+…77SUiDK1+c+pZ8Mi6+DBBcwD38unkT+I3VNYUJCR4k6E/HwyLcQlS0WPBdxEMFGw81KAAAOw==);
    background-image: -webkit-linear-gradient(left,transparent,transparent);
    background-image: linear-gradient(to right,transparent,transparent)
}

.scene__loader-text {
    color: white;
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    font-size: 24px;
    line-height: 24px;
    margin-top: -10px;
}

#scene__blend {
    width: 100%;
    height: 100%;
}

@-webkit-keyframes spin {
    0% {
        border-top-color: #fc0;
        border-left-color: #fc0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        border-top-color: #fc0;
        border-left-color: #fc0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        border-top-color: #fc0;
        border-left-color: #fc0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        border-top-color: #fc0;
        border-left-color: #fc0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
