.viewport {
    width: 600px;
    height: 450px;
    position: relative;
}
.viewport__blender {
    width: 800px;
    height: 800px;
    top: -200px;
    left: -105px;
    position: absolute;
}
.viewport__button {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 525px;
    left: 50%;
    transform: translateX(-50%);
}
.viewport__text {
    position: relative;
    background: rgba(28, 28, 28, 0.26);
    z-index: 10;
}
.viewport__texture-input {
    position: absolute;
    top: 0;
    left: -9999px;
    opacity: 0;
}
.viewport__dropzone {
    width: 100%;
    height: 100%;
    border: 2px dashed #ffdd55;
    border-radius: 20px;
    background: rgba(255, 255, 255, .5);
    z-index: 100;
    position: absolute;
    box-sizing: border-box;
    line-height: 450px;
    color: black;
    font-size: 18px;
}
