.button {
    border-radius: 3px;
    font-size: 15px;
    color: black;
    padding: 7px 15px;
    text-decoration: none;
    background: #ffdd55;
    font-weight: 400;
    cursor: pointer;
}
.button:hover {
    opacity: .8;
}
