html, body {
    margin: 0;
    padding: 0;
    background: #1c1c1c;
    font-family: 'Yandex Sans Display Office', sans-serif;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: #4a90e2;
}
a:hover { opacity: .8; }

.h--mb-40 { margin-bottom: 68px; }
.h--mb-20 { margin-bottom: 20px; }
.h--mt-40 { margin-top: 40px; }
.h--mt-59 { margin-top: 59px; }
.h--mt-8 { margin-top: 8px; }
.h--lh-15 { line-height: 1.5em; }
.h--lh-13 { line-height: 1.3em; }
.hidden { display: none !important; }
.transparent {
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
