@font-face {
    font-family: 'Yandex Sans Display Office';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;

    src: url("../fonts.assets/Yandex Sans Display Web-Regular.woff2") format('woff2'),
    url("../fonts.assets/Yandex Sans Display Web-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Yandex Sans Display Office';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;

    src: url("../fonts.assets/Yandex Sans Display Web-Light.woff2") format('woff2'),
    url("../fonts.assets/Yandex Sans Display Web-Light.woff") format('woff');
}

@font-face {
    font-family: 'Yandex Sans Display Office';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;

    src: url("../fonts.assets/Yandex Sans Display Web-Bold.woff2") format('woff2'),
    url("../fonts.assets/Yandex Sans Display Web-Bold.woff") format('woff');
}
