.footer {
    font-size: 0;
    margin-top: 47px;
    margin-bottom: 30px;
}

.footer__left {
    font-size: 13px;
    display: inline-block;
    text-align: left;
    width: 50%;
}

.footer__right {
    font-size: 13px;
    display: inline-block;
    width: 50%;
    text-align: right;
}
