.header-logo {
    width: 100%;
    text-align: center;
    padding-top: 67px;
    display: block;
    position: relative;
    z-index: 10;
}
.header-logo--absolute {
    position: absolute;
    z-index: 1;
}
.header-logo__yandex, .header-logo__museum {
    display: inline-block;
    background-repeat: no-repeat;
}
.header-logo__yandex {
    background-image: url(../img.assets/yandex-logo.svg);
    width: 142px;
    height: 31px;
    margin-right: 20px;
    vertical-align: top;
    margin-top: 15px;
}
.header-logo__museum {
    background-image: url(../img.assets/museum-logo.svg);
    width: 83px;
    height: 53px;
}
