.text {
    color: white;
    line-height: 1.5em;
}

.text--fz13 { font-size: 13px; }
.text--fz15 { font-size: 15px; }
.text--fz18 { font-size: 18px; }
.text--fz22 { font-size: 22px; }
.text--fz45 { font-size: 45px; }
.text--fz32 { font-size: 32px; }
.text--fw400 { font-weight: 400; }
.text--gray {
    color: #808080;
    line-height: 1.4em
}
.text--dark-gray {
    opacity: 0.5;
    line-height: 1.4em
}
.text--black { color: black; }
